/* global view */
html {
    background-color: #EBEBEB;
}

body {
    font-family: 'Asap', sans-serif;
    color: white;
    background-image: url("images/Logo\ Background.png");
    background-position: center;
}

.header-container {
    background-color: rgb(60, 60, 60);
    position: sticky;
    top: 0;
    min-height: 100px;
}

header {
    min-height: 100px;
    max-width: 1024px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
}

.mobile-wrapper {
    margin-right: 20px;
    min-width: 100px;
    display: none;
    text-align: right;
    display: none;
    /* background-color: aquamarine; */
}



.bold {
    font-weight: bold;
}

.button {
    margin-left: 20px;
    border: 2px solid white;
    padding: 10px 25px;
    border-radius: 2px;
    width: 80px;
}

.burger-menu {
    width: 20px;
    padding-right:10px;
}

.mob-nav {
    display: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;

    /* min-height: 100vh; */
    max-width: 1024px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    margin-bottom: 40px;

    background-color: aqua;

    min-height: 10px;
    width: 30%;
}

.box p {
    color: white;
    padding: 15px;
    line-height: 1.2rem;
}

.box p::first-line {
    font-weight: bold;
}

.box img {
    width:100%;
}

.global-view-block {
    display: none;
}

/* tab view */

@media(max-width: 880px){
    .box {
        width: 47%;
    }

    .global-view-block {
        display: block;
    }

    .header-container {
        position: relative;
    }

    header {
        padding-top: 15px;
        min-height: 50px;
        /* display: block; */
    }

    .logo {
        padding: 20px;
        font-size: 15px;
    }
    
    a {
        width: 110px;
        margin-bottom: 5px;
        padding: 6px 2px;
        
        display: block;
        text-align: center;

        border: 2px solid white;
        border-radius: 5px;

        font-size: 15px;

        background-color: rgb(106, 105, 105);
    }

    
    .hide {
        display: none;
    }

    .mobile-wrapper {
        display: block;
    }

    .mob-nav {
        padding-top: 25px;
        display: block;
        position: absolute;
        width: fit-content;
        height: fit-content;
        margin-left: -25px;
        display: none;
    }

    /* a {
        display: block;
    } */
}

/* mobile view */

@media(max-width: 420px) {
    .box {
        width:100%
    }

    .mobile-view-block {
        display: none;
    }

    .mob-nav {
        display: none;
    }
}